<!DOCTYPE html>
<html lang="en" class="light scroll-smooth" dir="ltr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>DevSecUp - Error 404</title>
    <meta name="description" content="DevSecUp">
    <meta name="keywords" content="Ciberseguridad, Marketing Digital, Chile, Servicio de desarrollo, Desarrollo">
    <meta name="version" content="2.0.0">
    <!-- favicon -->
    <link href="assets/images/Logo_SII.ico" rel="shortcut icon">
    <!-- Preconnect y dns-prefetch -->
    <link rel="preconnect" href="https://unicons.iconscout.com">
    <link rel="dns-prefetch" href="https://unicons.iconscout.com">
    <link rel="preconnect" href="https://cdnjs.cloudflare.com">
    <link rel="dns-prefetch" href="https://cdnjs.cloudflare.com">

    <!-- Css -->
    <link href="assets/libs/tobii/css/tobii.min.css" rel="stylesheet">
    <link href="assets/libs/tiny-slider/tiny-slider.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css">
    <!-- Lucide Icons -->
    <script src="https://unpkg.com/lucide@latest/dist/umd/lucide.js"></script>
    <!-- Main Css -->
    <link href="assets/libs/@mdi/font/css/materialdesignicons.min.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="assets/css/tailwind.min.css">
    <link rel="stylesheet" href="assets/libs/whatsapp/floating-wpp.min.css" />
    <!-- Carga diferida de CSS no crítico -->
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v3.0.6/css/line.css" media="print" onload="this.media='all'">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" media="print" onload="this.media='all'">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/spinkit/1.2.5/spinkit.min.css" media="print" onload="this.media='all'">
    <noscript>
        <link rel="stylesheet" href="https://unicons.iconscout.com/release/v3.0.6/css/line.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/spinkit/1.2.5/spinkit.min.css">
    </noscript>
    <style>
        /* Flexbox layout for full height */
        body, html {
            height: 100%;
            margin: 0;
            display: flex;
            flex-direction: column;
        }
        .content {
            flex: 1;
        }
    </style>
</head>

<body class="font-rubik text-base text-slate-900 dark:text-white dark:bg-slate-900">
    <!-- Navbar Start -->
    <nav class="navbar" id="navbar">
        <div class="container flex flex-wrap items-center justify-end">
            <a class="navbar-brand" href="index.html">
                <span class="inline-block dark:hidden">
                    <img src="assets/images/logo_SII.png" class="l-dark" alt="">
                    <img src="assets/images/logo_cabecera_blanco_1.png" class="l-light" alt="">
                </span>
                <img src="assets/images/logo_SII.png" class="hidden dark:inline-block" alt="">
            </a>
            <div class="nav-icons flex items-center lg_992:order-2 ms-auto">
                <!-- Navbar Button -->
                <ul class="list-none menu-social mb-0">
                    <li class="inline">
                    <li class="inline">
                    <li class="inline">
                </ul>
                <!-- Navbar Collapse Manu Button -->
                <button data-collapse="menu-collapse" type="button" class="collapse-btn inline-flex items-center ms-3 text-dark dark:text-white lg_992:hidden" aria-controls="menu-collapse" aria-expanded="false">
                    <span class="sr-only">Menu de Navegacion</span>
                    <i class="mdi mdi-menu mdi-24px"></i>
                </button>
            </div>
            <!-- Navbar Manu -->
            <div class="navigation lg_992:order-1 lg_992:flex hidden" id="menu-collapse">
                <ul class="navbar-nav nav-light" id="navbar-navlist">
                    <li class="nav-item">
                    <li class="nav-item">
                    <li class="nav-item">
                    <li class="nav-item">
                    <li class="nav-item">
                    <li class="nav-item">
                </ul>
            </div>
        </div>
    </nav>
    <!-- Navbar End -->

    <!-- Hero Start -->
    <section class="py-36 lg:py-64 w-full table relative bg-[url('../../assets/images/bg/2.jpg')] bg-center bg-cover content" id="home">
        <div class="absolute inset-0 bg-black opacity-80"></div>
        <div class="container relative">
            <div class="grid grid-cols-1 mt-12 text-center">
                <h1 class="text-white lg:text-5xl text-3xl lg:leading-normal leading-normal font-medium mb-7 position-relative">Error 404</h1>
                <p class="text-white opacity-50 mb-0 text-lg">Lo sentimos, la página que estás buscando no se pudo encontrar.</p>
                <div class="relative mt-10">
                    <a href="index.html" class="btn bg-orange-600 hover:bg-orange-700 border-orange-600 hover:border-orange-700 text-white rounded-md">Volver al Inicio</a>
                </div>
            </div>
        </div>
        <!--end container-->
    </section>
    <!--end section-->
    <!-- Hero End -->

    <!-- Footer Start -->
    <footer class="py-8 bg-slate-800 dark:bg-gray-900">
        <div class="container">
            <div class="grid md:grid-cols-12 items-center">
                <div class="md:col-span-3">
                    <a href="#" class="logo-footer">
                        <img src="assets/images/logo_cabecera_color_1.png" class="md:ms-0 mx-auto" alt="">
                    </a>
                </div>

                <div class="md:col-span-5 md:mt-0 mt-8">
                    <div class="text-center">
                        <p class="text-gray-400">© <span id="current-year"></span> DevSecUp</p>
                    </div>
                </div>
                <script>
                    // Inserta dinámicamente el año actual en el elemento con el ID "current-year"
                    document.getElementById('current-year').textContent = new Date().getFullYear();
                </script>

                <div class="md:col-span-4 md:mt-0 mt-8">
                    <ul class="list-none foot-icon ltr:md:text-right rtl:md:text-left text-center">
                        <li class="inline"><a href="https://www.linkedin.com/" target="_blank" rel="noopener noreferrer" class="btn btn-icon btn-sm border rounded-md border-slate-700 dark:border-slate-800 hover:border-orange-600 bg-slate-800 dark:bg-gray-900 hover:bg-orange-600 dark:hover:bg-orange-600 text-gray-400 hover:text-white"><i class="uil uil-linkedin align-middle" title="Linkedin"></i></a></li>
                        <li class="inline"><a href="https://www.instagram.com/devsecup/" target="_blank" rel="noopener noreferrer" class="btn btn-icon btn-sm border rounded-md border-slate-700 dark:border-slate-800 hover:border-orange-600 bg-slate-800 dark:bg-gray-900 hover:bg-orange-600 dark:hover:bg-orange-600 text-gray-400 hover:text-white"><i class="uil uil-instagram align-middle" title="Instagram"></i></a></li>
                        <li class="inline"><a href="https://api.whatsapp.com/send/?phone=56971769875" target="_blank" rel="noopener noreferrer" class="btn btn-icon btn-sm border rounded-md border-slate-700 dark:border-slate-800 hover:border-orange-600 bg-slate-800 dark:bg-gray-900 hover:bg-orange-600 dark:hover:bg-orange-600 text-gray-400 hover:text-white"><i class="uil uil-whatsapp align-middle" title="Whatsapp"></i></a></li>
                    </ul>
                    <!--end icon-->
                </div>
                <!--end col-->
            </div>
        </div>
    </footer>
    <!-- Footer End -->

    <!-- JAVASCRIPTS -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" defer></script>
    <script src="assets/libs/gumshoejs/gumshoe.polyfills.min.js" defer></script>
    <script src="assets/libs/tobii/js/tobii.min.js" defer></script>
    <script src="assets/libs/tiny-slider/min/tiny-slider.js" defer></script>
    <script src="assets/js/plugins.init.js" defer></script>
    <script src="assets/libs/toastr/toastr.min.js" defer></script>
    <script src="assets/js/app.js" defer></script>
    <script src="assets/libs/whatsapp/floating-wpp-custom.js" defer></script>
</body>

</html>